<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.ocr.mapper.ReceiptMapper">

	<select id="getReceiptsByMonth" resultType="com.test.ocr.DTO.ReceiptDTO">
		SELECT r.r_id, r.user_id, r.r_shop,
			r.r_adrr, r.r_date, r.r_total
		From receipt WHERE r.user_id = #{UserId}
			AND DATE_FORMAT(r.r_date, '%Y-%m') = #{yearMonth}
		ORDER BY r.r_date ASC;

	</select>
	
	<select id="findByrUserAndMonth" resultMap="ReceiptMap">
		SELECT * FROM receipt WHERE user_id = #{userId}
			AND DATE_FORMAT(r_date, '%Y-%m') = #{yearMonth}
	
	</select>
	
	<resultMap type="com.test.ocr.DTO.ReceiptDTO" id="ReceiptMap">
		<id property="r_id" column="r_id"/>
		<result property="user_id" column="user_id"/>
		<result property="r_shop" column="r_shop"/>
		<result property="r_adrr" column="r_adrr"/>
		<result property="r_date" column="r_date"/>
		<result property="r_total" column="r_total"/>
	
	</resultMap>
	
	<insert id="insertReceipt">
	    INSERT INTO save (user_id, r_shop, r_adrr, r_date)
	    VALUES (#{userId}, #{r_shop}, #{r_adrr}, #{r_date});
	</insert>
	
	<select id="getLastInsertId" resultType="int">
	    SELECT LAST_INSERT_ID();
	</select>
	
	<insert id="insertItems">
	    INSERT INTO save_items (receipt_id, name, price, count)
	    VALUES (
	        #{receiptId},
	        #{itemName},
	        #{itemPrice},
	        #{itemCount}
	    );
	</insert>
	
	


</mapper>