<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<title>Insert title here</title>
</head>
<body class="page-wrapper">
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		         Header 태그 관련 내용 - 네비게이션과 로그인/회원가입					  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<div th:replace="fragments/header ::header"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		         Header 태그 관련 내용 - 네비게이션과 로그인/회원가입					  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│				메인 화면 - Routeceipt 관련 간단한 소개							  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<main class="page-content">
		<section class="hero">
			<div>
				<div>
					<h1>영수증 관리의 새로운 길</h1>
					<h1 id="routeceipt">Routeceipt</h1>
					<p>영수증을 업로드하면 AI가 자동으로 인식하고 정리해요</p>
					<p>야근 식대부터 월별 소비 패턴까지 한 번에 확인하세요</p>
					<a th:href="@{login}">지금 시작하기</a>
				</div>
			</div>
		</section>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│				메인 화면 - Routeceipt 관련 간단한 소개							  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->	
	
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		 기술 관련 - 영수증 업로드 / OCR / 식대 판단 / 월별 소피 패턴(보완 예정)	          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
  		<section class="service">
			<div class="service_section">
				<div class="main_text">
					<h2>복잡한 영수증 관리, <br> 
					이젠 드래그 한 번으로 끝</h2>
				</div>
				<div class="upload_mokup">
					<div class="upload_mokup_body">
						<div class="upload_mokup">
							<img th:src="@{/image/test.jpg}">
						</div>
					</div>
					<div class="sub_text">
						<p>영수증 파일을 끌어다 놓기만 하면 자동으로 업로드 돼요</p>
						<p>파일만 올리면 정리는 Routeceipt이!</p>
					</div>					
				</div>
			</div>
		</section>
		
		<section class="service">
			<div class="service_section">
				<div class="main_text">
					<h2>데이터 입력, <br>
					직접 하지 마세요</h2>
				</div>
				<div class="ocr_mokup">
					<div class="ocr_mokup_body">
						<div class="ocr_mokup_left">
							
						</div>
						<div class="ocr_mokup_right">
							
						</div>
					</div>
				</div>
				<div class="sub_text">
					<p>사진 속 글자도 놓치지 않는 OCR 엔진으로 ~~~</p>
				</div>
			</div>
		</section>
		
		<section class="service">
			<div class="service_section">
				<div class="main_text">
					<h2>~~~ 야근 식대 청구, <br>
					Routeceipt과 함께라면 <br>
					~~~~~~~</h2>
				</div>
				<div class="service_card">
					<div>
						<h3>시간 자동 인식</h3>
						<p>결제 시간이 18~24시 사이 ~~~</p>							
					</div>
					<div>
						<article>
							
						</article>
					</div>
				</div>
				<div class="service_card">
					<div>
						<article>
							
						</article>							
					</div>
					<div>
						<h3></h3>
						<p></p>
					</div>
				</div>
				<div class="service_card">
					<div>
						<h3></h3>
						<p></p>							
					</div>
					<div>
						<article>
							
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<section class="service">
			<div class="service_section">
				<div class="main_text">
					<h2>달력과 그래프로 <br>
					한 눈에 보는 소비흐름</h2>
				</div>
				<div class="upload_mokup">
					<div class="upload_mokup_body">
						<div class="upload_mokup_left">
							
						</div>
						<div class="upload_mokup_right">
							
						</div>
					</div>
				</div>
				<div class="sub_text">
					<p>지출 패턴을 보면 재정 관리의 방향이 보입니다</p>
				</div>
			</div>
		</section>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		 기술 관련 - 영수증 업로드 / OCR / 식대 판단 / 월별 소피 패턴(보완 예정)	          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->		

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		  	       (기존)기술 관련 - OCR / 식대 판단 / 월별 소피 패턴	     		  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->		
<!-- 		<section class="feature">
			<h1>Routeceipt으로 업무 효율을 높이세요</h1>
			<div class="features">
				<div class="feature-card">
					<div class="icon"></div>
					<h3>간단한 영수증 업로드</h3>
					<p>드래그 앤 드랍
					(추가 예정)(수정 예정)</p>
				</div>
				
				<div class="feature-card">
					<div class="icon"></div>
					<h3>OCR을 통한 영수증 자동 인식</h3>
					<p>상호명, 날짜, 결제금액 등 필요한 데이터만 추출하여 정리합니다
					(추가 예정)(수정 예정)</p>
				</div>
	
				<div class="feature-card">
					<div class="icon"></div>
					<h3>야근 식대</h3>
					<p>~~야근 식대 청구 간단히~~
					(추가 예정)(수정 예정)</p>
				</div>
	
				<div class="feature-card">
					<div class="icon"></div>
					<h3>월별 소비 패턴 분석</h3>
					<p>달력과 그래프로 한 눈에 보는 소비 분석
					(추가 예정)(수정 예정)</p>
				</div>
			</div>
		</section> -->
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		  	     기술 관련 - OCR / 식대 판단 / 월별 소비 패턴(기존)		  	          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│	 ABOUT US - Routeceipt 팀 소개 => 어떤식으로할지 고민 중(논의 필요,삭제해도 무방)	  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
		<section class="feature">
			<h1>Routeceipt 팀</h1>
			<div class="features">
				<div class="feature-card">
					<div>(아이콘 들어갈 예정)</div>
					<h3>프론트엔드</h3>
					<p>(미정)</p>
				</div>
				
				<div class="feature-card">
					<div>(아이콘 들어갈 예정)</div>
					<h3>백엔드</h3>
					<p>(미정)</p>
				</div>
	
				<div class="feature-card">
					<div>(아이콘 들어갈 예정)</div>
					<h3>AI/OCR</h3>
					<p>(미정)</p>
				</div>
	
				<div class="feature-card">
					<div>(아이콘 들어갈 예정)</div>
					<h3>디자인</h3>
					<p>(미정)</p>
				</div>
			</div>
		</section>
	</main>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│	 ABOUT US - Routeceipt 팀 소개 => 어떤식으로할지 고민 중(논의 필요,삭제해도 무방)	  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		         Footer 태그 관련 내용 - SNS 계정 연결							  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<div th:replace="fragments/footer ::footer"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		         Footer 태그 관련 내용 - SNS 계정 연결      						  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
<!-- <script th:src="@{/js/scroll_animation.js}"></script> -->
</body>
</html>