<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:rel="stylesheet" th:href="@{/css/index.css}">
<script type="text/javascript" src="/js/JunValidChecker.js"></script>
<script type="text/javascript" src="/js/memberoption.js"></script>
</head>
<body>

<div id=login sec:authorize="isAnonymous()">
	계정이 있으면 <a th:href="@{/member/memberLogin}">로그인</a>
</div>

<div id=reg sec:authorize="isAnonymous()">
	처음 접속 또는 계정 생성이 필요하다면 <a th:href="@{/member/memberRegister}">회원가입</a>	
</div>

<div id=login2 sec:authorize="isAuthenticated()">
	<span th:text="${#authentication.name} + '님 어서오세요. 환영합니다.'"></span> <p>
	<a th:href="@{/logout}">로그아웃</a>
	<a th:href="@{/member/memberinfo}">회원정보 수정</a>
</div>

<div id=admin sec:authorize="hasRole('ADMIN')">
	<a th:href="@{/admin/memberinfo}">운영자 계정 관리 페이지</a>
	<a th:href="@{/admin/boardinfo}">운영자 게시판 관리 페이지</a>
</div>


</body>
</html>