<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer" class="footer">
		<div class="footer-iner">
			<div>
				<p>about us/네비게이션 바/팀 정보 등등 <br>
				무슨 내용 넣을지 아직 미정입니다. <br>
				Routeceipt SNS 계정 만들어서 a태그로 이동할 수 있게 하면 좋을 것 같아요
				</p>
			</div>
			<ul>
				<li>
					<a>instagram</a>
				</li>
				<li>
					<a>X</a>
				</li>
				<li>
					<a>discord</a>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>